<div class="container text-center">
    <div class="row">
      <div class="col pad"><img src="../../assets/img/atividades/1.png"></div>
      <div class="col pad"><img src="../../assets/img/atividades/2.png"></div>
      <div class="col pad"><img src="../../assets/img/atividades/3.png"></div>
      <div class="w-100"></div>
      <div class="col pad"><img src="../../assets/img/atividades/4.png"></div>
      <div class="col pad"><img src="../../assets/img/atividades/5.png"></div>
      <div class="col pad"><img src="../../assets/img/atividades/6.png"></div>
      <div class="w-100"></div>
      <div class="col pad"><img src="../../assets/img/atividades/7.png"></div>
      <div class="col pad"><img src="../../assets/img/atividades/8.png"></div>
      <div class="col pad"><img src="../../assets/img/atividades/9.png"></div>
    </div>
  </div>