<img src="../assets/img/reward.gif" class="reward rounded float-start pad" alt="reward">
<div class="container star rounded float-end pad"><img src="../assets/img/starFilled.png"> <div class="contador">{{totalEstrelas}}</div></div>
<button class="btn btn-primary marg" (click)="adicionarAtividade()">Adicionar Recompensa</button> 
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="column text-center">Recompensa</th>
            <th scope="col" class="column text-center">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recompensa of recompensas">
            <td class="text-center"><img [src]="recompensa.src" class="icon-table" (click)="openDialog(recompensa)"></td>
            <td class="text-center">10</td>
            <td class="text-center"><img src="../assets/img/trash.png" alt="trash" class="icon-table" (click)="removerAtividade(recompensa)"></td>
        </tr>
    </tbody>
</table>