<img src="../assets/img/reward.gif" alt="reward" width="50" height="50">
    <p><span id="count-stars" class="count">0</span><img id="starImage" src="../assets/img/starFilled.png" width="50" height="50"></p>
    <table>
        <thead>
            <tr>
                <th>Atividade</th>
                <th>Domingo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="icon-cell"><img src="../assets/img/cama.png" width="50" height="50">Arrumar a Cama</td>
                <td class="star-cell"><img src="../assets/img/starEmpty.png" class="star" width="50" height="50"></td>
            </tr>
        </tbody>
    </table>