<img src="../assets/img/reward.gif" class="reward rounded float-start pad" alt="reward">
<div class="container star rounded float-end pad"><img src="../assets/img/starFilled.png"> <div class="centro">150</div></div>
      <table class="table">
        <thead>
            <tr>
                <th scope="col" class="column text-center">Atividade</th>
                <th scope="col" class="column text-center">Domingo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"><img src="../assets/img/cama.png" class="icon-table"></td>
                <td class="text-center"><img src="../assets/img/starEmpty.png" class="star-table"></td>
            </tr>
            <tr>
              <td class="text-center"><img src="../assets/img/escova-de-dente.png" class="icon-table"></td>
              <td class="text-center"><img src="../assets/img/starEmpty.png" class="star-table"></td>
          </tr>
        </tbody>
    </table>
